/*	Typography presets
  ------------------------------------	*/
h1 
	color: $mainAccent
	margin: 30px 0
	font-size: 20px
	border-bottom: 1px solid $grayAccent
	text-align: left
	
h2 
	color: $mainAccent
	margin: 20px 0 10px 0
	font-size: 15px
	text-align: left
h4
	margin: 0px 0px 15px 0px
	font-weight: normal
p
	line-height: 1.6em
	margin: 0
.highlight
	margin: 10px auto 10px auto
	padding: 0px !important
	border: 1px solid $mainAccent
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2)
	border-radius: 5px
	background-color: #f7f7f7
	width: 100%
pre
	margin: 0
	max-width: 700px
	padding: 2%
*::-webkit-scrollbar-track
	border-radius: 5px
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	background-color: #F5F5F5
*::-webkit-scrollbar
	border-radius: 5px
	width: 8px
	height: 8px
	background-color: #F5F5F5
*::-webkit-scrollbar-thumb
	border-radius: 5px
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
	background-color: $grayAccent
/* Links
  ------------------------------------	*/



/* Selection colors (easy to forget)
  ------------------------------------	*/





/* Basic Styles
  ------------------------------------	*/

.container 
	max-width: 1040px
	height: 100%
	margin: 0 auto
	
html, body 
	font-family: Arial, Helvetica, sans-serif
	color: #444444
	font-size: 16px
	min-width: 360px !important
	a
		color: $mainAccent
	a:hover
		color: $mainAccent-light
	table
		width: 100%
		height: 100%
		margin: 0 auto
