.about-bar 
	@include whiteBoxShade-starter
	padding-bottom: 20px
.about
	padding: 2%
	height: 100%
	h1
		color: #003e85
		margin: 10px 0
		font-size: 27px
		border-bottom: 0px
		text-align: left
	h2
		text-align: left
	+clearfix
.about-text
	max-width: 700px
	margin: 0 auto
	padding: 2%
.about-icons
	a
		float: left
		font-size: 20px
		margin: 10px 10px 0 0
		text-decoration: none