.About-bar 
	@include whiteBoxShade
.About
	height: 100%
	h1
		color: #003e85
		margin: 10px 0
		font-size: 35px
		border-bottom: 0px
		text-align: left
	h2
		text-align: left
	+clearfix
.About-img
	background-color: yellow
	margin: 0 auto
	height: 100%
	max-width: 400px
	img
		border: 0
		max-width: 100%
		vertical-align: bottom
.About-text
	padding: 2%
@media only screen and (min-width: $lrgWidth)
	.About-text, .About-img 
		display: block
		float: left
	.About-text 
		width: 56%
		padding-top: 15%
	.About-img
		width: 40%