.exp-bar 
	@include grayBoxShade 
	padding-bottom: 30px
	+clearfix
.exp
	padding-left: 2%
.exp-lockUp
	margin: 0 auto
	a
		text-decoration: none
	+clearfix
.exp-description, .exp-location
	margin-bottom: 10px
	h4
		margin: 0 0 3px 0
		padding: 0
@media only screen and (min-width: $lrgWidth)
	.exp-lockUp
		max-width: 830px
	.exp-location, .exp-description 
		display: block
		float: left
	.exp-description 
		max-width: 68%
	.exp-location
		max-width: 30%
		margin-right: 2%