.ExpBar 
	@include greyBoxShade 
.experienceLockUp
	margin: 0 auto 30px auto
	width: 80%
	a
		text-decoration: none
	table
		text-align: left
	td 	
		padding-top: 5px
		vertical-align: top
		width: 300px
