.sample-bar 
	@include whiteBoxShade
.sample
	padding: 0 2% 2% 2%
	+clearfix
.sample-wrap
	+clearfix
.thumb-unit
	display: block
	box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.33)
	border-radius: 5px
	margin: 1% auto 1% auto
	height: 200px
	width: 100%
	position: relative
	overflow: hidden
	border: 1px solid $mainAccent
	&:hover 
		.thumb-overlay
			color: $mainAccent
			+position(absolute, -5px 0px 0px 0px )
.thumb-image
	max-height: 77%
	img
		display: block
		max-width: 100%
.imgAlignBottom
	img
		position: absolute
		bottom: 23%
.thumb-overlay
	padding: 8px
	+position(absolute,  77% 0px 0px 0px )
	height: 100%
	border-top: 1px solid $grayAccent
	+transition
	background-color: $grayAccent-light
	td
		text-align: left
		vertical-align: top
	p
		padding-top: 15px !important
.thumb-text
	font-size: 15px
	display: block
	float: left
	width: 100%
.portfolio-link
	font-size: 13px
	text-decoration: none
	margin: 20px 0 10px 0
	font-weight: bold
	float: right
	.icon-arrow
		display: block
		float: right
		font-size: 20px
		margin: -4px 0px 0px 10px
	
@media only screen and (min-width: 565px)
	.portfolio-link
		margin-right: 3% !important
	.thumb-unit
		margin-left: 2.5% !important
		float: left !important
		width: 46%