.skills-bar 
	@include grayBoxShade 
	padding-bottom: 40px
	h2
		max-width: 640px
		margin: 30px auto 10px auto
.skills
	padding-left: 2%
	img
		margin-bottom: 4px 
		vertical-align: middle
.skill-lockup 
	width: 300px
	margin: 0 auto
	+transition
	+clearfix
.skill-unit 
	margin: 15px 0 15px 0
	font-size: 15px
	width: 300px
.skill-item 
	width: 300px
	height: 10px
	background: $grayAccent
	overflow: hidden
	border-radius: 5px
.skill-icons 
	height: 100%
	float: left
	background: $mainAccent
	overflow: hidden
.example
	float: right
	height: 100%
	display: inline
	a
		font-size: 12px
		text-decoration: none
.value-1 
	width: 20%
.value-2 
	width: 40%
.value-3 
	width: 60%
.value-4 
	width: 80%
.value-5 
	width: 100%
@media only screen and (min-width: $lrgWidth)
	.skill-unit 
		display: block
		float: left
		margin-left: 10px !important
		margin-right: 10px !important
	.skill-lockup 
		width: 640px !important