<a href="{{ project.url }}" class="thumb-unit">
	<div class="thumb-image {{project.align}}" data-url="{{ project.url }}">
		<img src="{{ site.baseurl }}/assets/img/project/{{ project.projectFolder }}/{{ project.img }}" alt="{{project.title}}">
	</div>
	<div class="thumb-overlay">
		<div class="thumb-text"> 
			<strong>{{ project.title }}</strong><br>
			{% if project.tags.size == 1 %}
				{{ project.tags }}
			{% else %}
				{% for tag in project.tags %}
					{% if forloop.last == false %}
						{{ tag }}, 
					{% else %}
						& {{ tag }}
					{% endif %}
				{% endfor %}
			{% endif %}
			<i>{{tagString}}</i>
			
			<div class="thumb-description">
				<p>{{ project.description }} </p>
			</div>
		</div>
	</div>
</a>