---
---
@import '1-tools/-tools-dir'

//------------------------------------------------
// Transition the image paths from the settings file to usable SASS variables
$animation: {{ site.data.layout.animation }}
$logo-path: '{{ site.data.layout.logo }}'

$projects: {% for project in site.data.settings.projects %} "{{ project.folder }}", {% endfor %}

//------------------------------------------------
// Set some colors as sass variables

$mainAccent: {{ site.data.layout.mainAccent }}
$grayAccent: {{ site.data.layout.grayAccent }}
$mainAccent-light: saturate(lighten($mainAccent, 30%), 20%)
$mainAccent-dark: saturate(darken($mainAccent, 10%), 20%)
$grayAccent-light: lighten($grayAccent, 25%)
$lrgWidth: '700px'
$textColor: {{ site.data.layout.textColor }}


@import '2-base/-base-dir'


@import 'mixins'

@import '3-sections/-sections-dir'
@import '2-base/syntax.css'

