---
---
@import '1-tools/-tools-dir'

// ---- Image paths to SASS variables ---- //
$logo-path: '{{ site.data.settings.logo }}'


// --- Colors --- //
$textColor: {{ site.data.settings.textColor }}

$mainAccent: {{ site.data.settings.mainAccent }}
$mainAccent-light: lighten($mainAccent, 30%)
$mainAccent-dark: saturate(darken($mainAccent, 10%), 20%)

$grayAccent: {{ site.data.settings.grayAccent }}
$grayAccent-light: lighten($grayAccent, 25%)

$lrgWidth: '700px'
$defaultPadding: 2%

// --- Import all SASS --- //
@import 'mixins'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
@import 'lightbox'
