/* default color, shading and border for grey boxes */
@mixin greyBoxShade() {
	width: 100%;
	background: #f3f3f3;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-shadow: inset 0px 30px 30px -30px rgba(0, 0, 0, 0.15);
	}
@mixin whiteBoxShade() {
	width: 100%;
	background: #fff;
	border-top: 1px solid #b0b0b0;
	border-bottom: 1px solid #b0b0b0;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	}