.footer-bar  
	height: 60px
	width: 100%
	left: 0
	bottom: 0
	color: #fff
	overflow: hidden
	position: absolute
	background-color: $mainAccent
	a
		color: #fff
		text-decoration: none
.footer-icons
	padding: 21px 15px 21px 15px
	float: right
	font-size: 20px
.footer-copyright
	float: left
	padding: 22px 15px 21px 15px