.header-bar
	color: #fff
	font-weight: bold
	background-color: $mainAccent
	height: 50px
	width: 100%
	ul 
		list-style-type: none
		margin: 0
		padding: 0
		overflow: hidden
	li 
		float: left
	li a 
		display: block
		color: #fff
		text-align: center
		padding: 16px
		text-decoration: none

	li a:hover
		background-color: $mainAccent-dark
	

