<div class="ExpBar">
  <div class="Exp Container">
    
    
    
    
    <h1>Experience</h1>
	
	<div class="Exp-LockUp">
	<div class="Exp-location">
	
       <h4>Paint Nite & Plant Nite<br>Hull Entertainment</h4>January 2016 - Current
		
	
    </div>	
	<div class="Exp-description"> 
      <h4>Executive Assistant</h4>
	  Hull Entertainment is owned by a local licensee for the Paint Nite and Plant Nite franchise. 
	  Territory included Central PA, Northern WV, Northern MD, and Portland, ME. As the Executive Assistant, 
	  Optimize workflow through scripts to automate processes, manage scheduling Paint Nite events and staff, 
	  and aide the company’s president with general day-to-day tasks.<br>
	  <a href="https://www.paintnite.com/" target="_blank" rel="noopener"><img src="http://jessicaschlesiger.ml/assets/img/icons/link.png"> PaintNite.com</a> | 
	  <a href="https://www.plantnite.com/" target="_blank" rel="noopener"><img src="http://jessicaschlesiger.ml/assets/img/icons/link.png"> PlantNite.com</a>
	
	
	</div>
	</div>
	
  
  <h1>Education</h1>
  
  <div class="Exp-LockUp">
  
	<div class="Exp-location">
	
       <h4>Shippensburg University</h4>Fall 2014 - April 2018
		
	
    </div>	
	<div class="Exp-description"> 
      <h4>Bachelor - Computer Science</h4>
	  	At Shippensburg University, Java and C were the main programming languages taught. The curriculum concentrated mostly on good programming habits and design patterns. <br>
	  <a href="http://www.ship.edu/" target="_blank" rel="noopener"><img src="http://jessicaschlesiger.ml/assets/img/icons/link.png"> Ship.edu</a>
	
	
	</div>
	</div>
				
    </div>
</div>
