<div class="exp-bar">
  <div class="exp container">
		<h1>Education</h1>
		<div class="exp-lockUp">
			<div class="exp-location">
				<div class="exp-text"><h3>Shippensburg University</h3>Fall 2014 - April 2018</div>
				<img class="exp-logo" src="{{ site.github.url }}/assets/img/logos/ship.png" alt="Logo-Ship">
			</div>	
			<div class="exp-description"> 
				<h3>Bachelor - Computer Science</h3>
				<p>At Shippensburg University, Java and C were the main programming languages taught. 
				The curriculum concentrated mostly on good programming habits and design patterns.</p><br>
				<a href="http://www.ship.edu/" target="_blank" rel="noopener"><b class="icon-link"></b> Ship.edu</a>
				<br><br><b>Relevant Coursework:</b>
				
				<div class="exp-listWrap">
				{% for unit in site.data.settings.education_courses %}
					<div class="exp-listUnit">
					• {{ unit.name }}
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<h1>Experience</h1>
		<div class="exp-lockUp">
			<div class="exp-location">
				<div class="exp-text"><h3>Paint Nite & Plant Nite<br>Hull Entertainment</h3>January 2016 - Current</div>
				<img class="exp-logo" src="{{ site.github.url }}/assets/img/logos/PN.png" alt="Logo-PN">
			</div>	
			<div class="exp-description"> 
				<h3>Executive Assistant</h3>
				<p>Hull Entertainment is owned by a local licensee for the Paint Nite and Plant Nite platform. 
				Territory included Central PA, Northern WV, Northern MD, and Portland, ME. As the Executive Assistant, my tasks were as per needs of the company.
				</p><br><a href="https://www.paintnite.com/" target="_blank" rel="noopener"><b class="icon-link"></b> PaintNite.com</a> | 
				<a href="https://www.plantnite.com/" target="_blank" rel="noopener"><b class="icon-link"></b> PlantNite.com</a>
				<br><br><b>Duties Included:</b>
				
				<div class="exp-listWrap">
				{% for unit in site.data.settings.hullEntertainment_duties %}
					<div class="exp-listUnit">
					• {{ unit.name }}
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
    </div>
</div>
