<div class="sample-bar">
	<div class="sample container">		
		<h1>Sample Projects</h1>
		<div class="sample-wrap">
			 <div class="thumb-wrap">
				{% for page in site.portfolio limit:4 %}
					<a href="{{ page.url }}" class="thumb-unit">
						<div class="thumb-image {{page.align}}" data-url="{{ page.url }}">
							<img src="{{ site.baseurl }}/assets/img/project/{{ page.projectFolder }}/{{ page.img }}" alt="{{page.title}}">
						</div>
						<div class="thumb-overlay">
							<div class="thumb-text"> 
								<strong>{{ page.title }}</strong><br>
								{% assign tagString = "" %}
								{% for tag in page.tags %}
									{% assign tempString = tagString %}
									{% if forloop.last == false %}
										{% capture tagString %} {{tagString}}{{tag}}, {% endcapture %}
									{% else %}
										{% capture tagString %} {{tagString}} & {{tag}} {% endcapture %}
									{% endif %}
									
								{% endfor %}
										
								<i>{{tagString}}</i>
								
								<div class="thumb-description">
									<p>{{ page.description }} </p>
								</div>
							</div>

						</div>
					</a>
				{% endfor %}
			</div>
		</div>
			<a href="{{ site.github.url }}/portfolio" class="portfolio-link">See full portfolio for more projects.<div class="icon-arrow"></div></a>
	</div>
</div>
