<div class="sample-bar">
	<div class="sample container">		
		<h1>Sample Projects</h1>
		<div class="sample-wrap">
			 <div class="thumb-wrap">
				{% for project in site.data.settings.projects limit:6 %}
					<a href="" class="thumb-unit">
							<div class="thumb-image" data-url="{{ site.github.url }}/work/{{ project.folder }}/">
								<img src="{{ site.github.url }}/assets/img/work/{{project.folder}}/thumb.jpg" alt="{{ project.name }}" />
							</div>
							<div class="thumb-overlay">
								<div class="thumb-text"> 
									<strong>{{ project.name }}</strong>
									<br>{{ project.subName }}
									<div class="thumb-description">
									<p>{{ project.description }} </p>
								</div>
								</div>
									
								<div class="icon-arrow"></div>
							</div>
					</a>
				{% endfor %}
			</div>
			<a href="{{ site.github.url }}/portfolio" class="portfolio-link">Full Portfolio 
				<div class="icon-arrow"></div>
			</a>
		</div>
	</div>
</div>
