<div class="skills-bar">
	<div class="skills container">
		<h1>Skill Sets</h1>
			<h2><b class="icon-programming"></b> Programming:</h2>
			<div class="skill-lockup">
				{% for skill in site.data.settings.skills_programming %}
					{% include index/skillUnit.html %}
				{% endfor %}
			</div>	
			<h2><b class="icon-utilities"></b> Utilities:</h2>
			<div class="skill-lockup">
				{% for skill in site.data.settings.skills_utilities %}
					{% include index/skillUnit.html %}
				{% endfor %}
			</div>
			<h2><b class="icon-design"></b> Design:</h2>	
			<div class="skill-lockup">		
				{% for skill in site.data.settings.skills_design %}
					{% include index/skillUnit.html %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>