<div class="skills-bar">
	<div class="skills container">
		<h1>Skill Sets</h1>
		{% for skills in site.data.settings.skills %}
			<h2><b class="icon-{{ skills.title | slugify }}"></b> {{ skills.title }}:</h2>
			<div class="skill-lockup">
				{% for item in skills.items %}
					<div class="skill-unit">
						<div class="skill-label">
						{% if item.tag != %} 
							{{ item.tag }}
							<div class="example">
								<a href="/tag/{{ item.tag | slugify }}">See example</a>
							</div>
						{% else %}
							{{ item.name }}
							{% endif %}
						</div>
						<div class="skill-item">
							<div class="skill-icons value-{{ item.value }}"></div>
						</div>
					</div>
				{% endfor %}
			</div>	
		{% endfor %}
	</div>
</div>