<div class="SkillsBar">
	<div class="Skills Container">
		<h1>Skill Sets</h1>
		
	
			<h2><img src="{{ site.github.url }}/assets/img/icons/programming.png"> Programming:</h2>
					<div class="skill-lockup">
				{% for skill in site.data.settings.skills_programming %}
					<div class="skill-unit">
						<div class="skill-label">
						{{ skill.name }}
							{% if skill.example != %} 
							<div class="example">
								<a href="{{ skill.example }}">See example</a>
							</div>
							{% endif %}
						</div>
						<div class="skill-item">
							<div class="skill-icons value-{{ skill.value }}"></div>
						</div>
					</div>
		{% endfor %}
			</div>

			<h2><img src="{{ site.github.url }}/assets/img/icons/design.png"> Design:</h2>
	
							<div class="skill-lockup">
							
				{% for skill in site.data.settings.skills_design %}
					<div class="skill-unit">
						<div class="skill-label">
						{{ skill.name }}
							{% if skill.example != %} 
							<div class="example">
								<a href="{{ skill.example }}">See example</a>
							</div>
							{% endif %}
						</div>
						<div class="skill-item">
							<div class="skill-icons value-{{ skill.value }}"></div>
						</div>
					</div>
		{% endfor %}
			</div>
	
			<h2><img src="{{ site.github.url }}/assets/img/icons/utilities.png"> Utilities:</h2>
							<div class="skill-lockup">
				{% for skill in site.data.settings.skills_utilities %}
					<div class="skill-unit">
						<div class="skill-label">
						{{ skill.name }}
							{% if skill.example != %} 
							<div class="example">
								<a href="{{ skill.example }}">See example</a>
							</div>
							{% endif %}
						</div>
						<div class="skill-item">
							<div class="skill-icons value-{{ skill.value }}"></div>
						</div>
					</div>
		{% endfor %}
			</div>
	
	



</div>

			</div>
		</div>
