<!DOCTYPE html>
<html class="" lang="en-US">
	<head>
	  <meta charset="UTF-8"/>
	  <meta name="apple-mobile-web-app-capable" content="yes"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <meta name="description" content="{{ site.data.settings.seo.description }}"/>
	  <link rel="icon"  type="image/png"    href="icon.png"/>
	  <meta name="theme-color" content="{{ site.data.layout.mainAccent }}"/>
	  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}"/>
	  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}"/>
	  <title>{{ site.data.settings.title }}</title>
	  <link rel="stylesheet" href="/assets/css/all.css"/>
	  {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
	  <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	  {% include analytics.html %}
	</head>
	<body>

		{% include header.html %}

		{{ content }}

		{% include footer.html %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/assets/js/functions.js"></script>
	</body>
</html>



