---
layout: default
permalink: /{{page.title}}
---
<div class="project-abstract-bar">
	<div class="project-abstract container">
		<div class="project-abstract-text"> 
			<h1 class="page-title">{{ page.title }}</h1>
			{% if page.dated %}
				<h4>
					{% assign d = page.dated | date: "%-d"  %}
					{{ page.dated | date: "%B" }} 
					{% case d %}
					{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, 
					{{ page.dated | date: "%Y" }}					
				</h4>
			{% else %}
				<br>
			{% endif%}
			
			<p>{{ page.abstract }}</p>
				
			<br><br>Tags: 		
				{% for tag in page.tags %}
					{% if forloop.last == false %}
						<a href="{{site.baseurl}}/tag/{{ tag | slugify }}" class="tag">{{ tag }}</a>, 
					{% else %}
						& <a href="{{site.baseurl}}/tag/{{ tag | slugify }}" class="tag">{{ tag }}</a>
					{% endif %}
				{% endfor %}
			</div>
		<div class="project-abstract-img">
			<img src="{{ site.baseurl }}/assets/img/project/{{ page.projectFolder }}/{{ page.img }}" alt="{{page.title}}">
		</div>
	</div>
</div>
	
<div class="project-body-bar">
	<div class="project-body container">
		<h1>The Process:</h1>
		{{ page.content }}
	</div>
</div>

<div class="project-end-bar">
	<div class="project-end container">
		<div class="project-end-wrap">
		{% if page.end %}
			<div class="project-end-full">
				<h1>Ending Statement</h1>
				<p>
				{{ page.end }}
				</p>
			</div>
		{% else %}
			<div class="project-end-left">
				<h1>Ending Statement</h1>
				<p>
				{{ page.end-left }}
				</p>
			</div>
			<div class="project-end-right">			
				{{ page.end-right | markdownify }}
			</div>
		{% endif %}
		</div>
		<div class="project-relatedWorks"><h2>Related Projects: </h2>Coming soon!</div>
	</div>
</div>