---
layout: default
permalink: /{{page.title}}
---
<div class="project-abstract-bar">
	<div class="project-abstract container">
		<div class="project-abstract-text"> 
			<h1 class="page-title">{{ page.title }}</h1>
			{% if page.date %}
				<h4>
					{% assign d = page.date | date: "%-d"  %}
					{{ page.date | date: "%B" }} 
					{% case d %}
					{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, 
					{{ page.date | date: "%Y" }}					
				</h4>
			{% else %}
				<br>
			{% endif%}
			
			<p>{{ page.abstract }}</p>
				
			<br><br>Tags: 	
				{% if page.tags.size == 1 %}
					<a href="{{site.baseurl}}/tag/{{ page.tags[0] | slugify }}" class="tag">{{ page.tags }}</a>
				{% elsif page.tags.size == 2 %}
					<a href="{{site.baseurl}}/tag/{{ page.tags[0] | slugify }}" class="tag">{{  page.tags[0] }}</a> & 
					<a href="{{site.baseurl}}/tag/{{ page.tags[1] | slugify }}" class="tag">{{ page.tags[1] }}</a>
				{% else %}
					{% for tag in page.tags %}
						{% if forloop.last == false %}
							<a href="{{site.baseurl}}/tag/{{ tag | slugify }}" class="tag">{{ tag }}</a>, 
						{% else %}
							& <a href="{{site.baseurl}}/tag/{{ tag | slugify }}" class="tag">{{ tag }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		<div class="project-abstract-img">
			<img src="{{ site.baseurl }}/assets/img/project/{{ page.projectFolder }}/{{ page.img }}" alt="{{page.title}}">
		</div>
	</div>
</div>
	
<div class="project-body-bar">
	<div class="project-body container">
		<h1>The Process:</h1>
		{{ page.content }}
	</div>
</div>

<div class="project-end-bar">
	<div class="project-end container">
		<div class="project-end-wrap">
		{% if page.end %}
			<div class="project-end-full">
				<h1>Ending Statement</h1>
				<p>
				{{ page.end }}
				</p>
			</div>
		{% else %}
			<div class="project-end-left">
				<h1>Ending Statement</h1>
				<p>
				{{ page.end-left }}
				</p>
			</div>
			<div class="project-end-right">			
				{{ page.end-right }}
			</div>
		{% endif %}
		</div>
	</div>
</div>
<div class="project-moreWorks-bar">
	<div class="project-moreWorks container">
		<h1>Additional Projects: </h1>
		

{% assign maxRelated = 4 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
{% assign listedProject = '' | split: '' %}
{% assign projects = site.portfolio | sort: 'date' | reverse %}

{% for project in projects %}

  {% assign sameTagCount = 0 %}
  {% assign commonTags = '' %}

	{% for tag in project.tags %}
	  {% if project.url != page.url %}
		{% if page.tags contains tag %}
		  {% assign sameTagCount = sameTagCount | plus: 1 %}
		  {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
		  {% assign commonTags = commonTags | append: tagmarkup %}
		{% endif %}
	  {% endif %}
	{% endfor %}

	{% if sameTagCount >= minCommonTags %}
	  
	  
		{% include projectContainer.html %}
					{% assign projectTitle = project.title | split: '_' %}
					{% assign listedProject = listedProject | concat: projectTitle %}
	  
		{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
		{% if maxRelatedCounter >= maxRelated %}
			{% break %}
		{% endif %}
	{% endif %}

  {% endfor %}


{% if maxRelatedCounter < maxRelated %}
	{% for project in projects %}
		{% if project.url != page.url %}
			{% assign notListedWatcher = 0 %}
			{% for listed in listedProject %}
				{% if project.title != listed %}
					{% assign notListedWatcher = notListedWatcher | plus: 1 %}
				{% endif %}
			{% endfor %}
			{% if notListedWatcher == listedProject.size %}
				{% include projectContainer.html %}
				{% assign projectTitle = project.title | split: '_' %}
				{% assign listedProject = listedProject | concat: projectTitle %}
				{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
				{% if maxRelatedCounter >= maxRelated %}
					{% break %}
				{% endif %}
			{% endif %}	
		{% endif %}
	{% endfor %}
{% endif %}


	</div>
</div>